### Logistic Reg Model - Binary Classifier

In [1]:
# IDEAS: 
# https://stackoverflow.com/questions/38077190/how-to-increase-the-model-accuracy-of-logistic-regression-in-scikit-python

# scale the columns
# https://www.keboola.com/blog/logistic-regression-machine-learning
# https://www.kdnuggets.com/2020/04/data-transformation-standardization-normalization.html
# drop features/remove multicoliniarity features

# look to use class weight/class imbalances

# try SVM; maybe we cannot linearly seperate yes vs no leads column?

# add features???

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import pandas as pd
import numpy as np

# Import and read the csv.
#df = pd.read_csv('model_df1_official.csv', index_col=[0])
# OR: 
df = pd.read_csv('nnML_tiers.csv', index_col=[0])
df.head()

,state,brand,spend,platform,date_start,Impressions,leads,link_clicks,reach,agency,State Tiers,Agency Tiers
770,CA,B1,7.28,Facebook Ads,5/11/2021,427,0.0,2,403.0,Agency 4,4,4
771,CA,B1,13.32,Facebook Ads,6/23/2021,1042,1.0,7,962.0,Agency 4,4,4
772,CA,B1,10.11,Facebook Ads,6/13/2021,337,0.0,0,321.0,Agency 4,4,4
773,CA,B1,0.00,Facebook Ads,4/20/2021,0,1.0,0,0.0,Agency 4,4,4
774,CA,B1,7.35,Facebook Ads,5/11/2021,379,1.0,0,364.0,Agency 4,4,4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157672 entries, 770 to 160484
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   state         157672 non-null  object
 1   brand         157672 non-null  object
 2   spend         157672 non-null  float64
 3   platform      157672 non-null  object
 4   date_start    157672 non-null  object
 5   Impressions   157672 non-null  int64
 6   leads         157672 non-null  float64
 7   link_clicks   157672 non-null  int64
 8   reach         157672 non-null  float64
 9   agency        157672 non-null  object
 10  State Tiers   157672 non-null  int64
 11  Agency Tiers  157672 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 15.6+ MB

In [4]:
# check of number of datapoints in B1 vs B2
df.loc[df['brand']=='B2']

,state,brand,spend,platform,date_start,Impressions,leads,link_clicks,reach,agency,State Tiers,Agency Tiers
862,CA,B2,8.44,Facebook Ads,2/12/2021,539,1.0,1,516.0,Agency 4,4,4
877,CA,B2,10.00,Facebook Ads,2/1/2021,687,1.0,3,662.0,Agency 4,4,4
878,CA,B2,15.77,Facebook Ads,1/11/2021,638,0.0,2,579.0,Agency 4,4,4
997,CA,B2,5.53,Facebook Ads,1/6/2021,418,0.0,2,411.0,Agency 4,4,4
1118,CA,B2,5.86,Facebook Ads,1/7/2021,317,0.0,2,293.0,Agency 4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...
159677,IL,B2,38.76,Facebook Ads,2/19/2021,1968,1.0,16,1898.0,Agency 8,3,1
159678,IL,B2,32.68,Facebook Ads,5/8/2021,1404,0.0,11,1358.0,Agency 8,3,1
159679,IL,B2,39.60,Facebook Ads,2/18/2021,1841,1.0,21,1772.0,Agency 8,3,1
159680,IL,B2,50.81,Facebook Ads,9/14/2021,2159,0.0,15,2072.0,Agency 8,3,1
159681,IL,B2,56.46,Facebook Ads,9/6/2021,2584,0.0,26,2447.0,Agency 8,3,1

In [5]:
df['state']

770       CA
771       CA
772       CA
773       CA
774       CA
          ..
160480    ME
160481    ME
160482    ME
160483    ME
160484    ME
Name: state, Length: 157672, dtype: object

In [6]:
# version to look at only CA
# observe column brand
df_ca_b2 = df.filter[df['state']== 'IL', df['brand']== 'B2']
# output shows CA starts (index) at 770 and ends at 146479

TypeError: 'method' object is not subscriptable

In [57]:
# Drop all CA values from state column:
df_ca.head()

,state,brand,spend,platform,date_start,Impressions,leads,link_clicks,reach,agency,State Tiers,Agency Tiers
66473,IL,B2,31.45,Facebook Ads,2/17/2021,1763,1.0,8,1660.0,Agency 2,3,4
66474,IL,B2,33.06,Facebook Ads,6/21/2021,1199,0.0,6,1065.0,Agency 2,3,4
66475,IL,B1,40.85,Facebook Ads,1/15/2021,2338,1.0,11,2040.0,Agency 2,3,4
66476,IL,B1,33.18,Facebook Ads,3/26/2021,1367,1.0,5,1228.0,Agency 2,3,4
66477,IL,B2,32.26,Facebook Ads,7/10/2021,1398,1.0,7,1329.0,Agency 2,3,4

In [58]:
# scaling if needed

In [59]:
# df2 = df.drop(columns=['state', 'agency', 'brand', 'platform', 'date_start', 'Impressions'])
# df2

# OR ca option
df_ca1 = df_ca.drop(columns=['state', 'agency', 'brand', 'platform', 'date_start', 'link_clicks'])
df_ca1.head()

       spend  Impressions  leads   reach  State Tiers  Agency Tiers
66473  31.45         1763    1.0  1660.0            3             4
66474  33.06         1199    0.0  1065.0            3             4
66475  40.85         2338    1.0  2040.0            3             4
66476  33.18         1367    1.0  1228.0            3             4
66477  32.26         1398    1.0  1329.0            3             4

In [60]:
# steps: 
# create the model with LogisticRegression()
# train the model with model.fit()
# make predictions with model.predict()
# validate with accuracy_score()

### Hyperparam check

In [61]:
logModel = LogisticRegression()

In [62]:
param_grid = [
    {'penalty': ['l1', 'l2', 'elasticnet', 'none'],
    'C': np.logspace(-4,4,20),
    'solver': ['lbfgs', 'newton-cg', 'liblinear', 'sag', 'saga'],
    'max_iter': [100,1000,2500,5000]}
]

In [63]:
# test for most optimal params 
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(logModel, param_grid = param_grid, cv=3, verbose=True, n_jobs=-1)

In [64]:
best_clf = clf.fit(X,y)

Fitting 3 folds for each of 1600 candidates, totalling 4800 fits

C:\Users\dia78039\Anaconda3\envs\PythonData\lib\site-packages\sklearn\model_selection\_search.py:925: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.5729585  ...        nan 0.63052209 0.63052209]
  category=UserWarning
C:\Users\dia78039\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

In [65]:
best_clf.best_estimator_
# shows that I need a penalty of l1, solver type saga, and c value of .0001

LogisticRegression(C=0.0001, penalty='l1', solver='saga')

### Seperate features, x and target, y

In [66]:
# y = df2["leads"]
# X = df2.drop(columns="leads")

# or CA option
y = df_ca1["leads"]
X = df_ca1.drop(columns="leads")

### Split into train and test features

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(5776, 5)

### Create Log Reg Model

In [68]:
# edit the params as needed
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='saga',
                                C=0.0001,
                                max_iter=500,
                                random_state=1,
                                class_weight='balanced',
                               multi_class='auto', 
                               penalty='l1')

### Fit/train or model using training data

In [69]:
classifier.fit(X_train, y_train)

LogisticRegression(C=0.0001, class_weight='balanced', max_iter=500,
                   penalty='l1', random_state=1, solver='saga')

In [48]:
### Feature Importance

In [70]:
# get importance
# https://machinelearningmastery.com/calculate-feature-importance-with-python/
importance = classifier.coef_
print(importance)

[[0.00000000e+00 7.06176134e-06 0.00000000e+00 0.00000000e+00
  0.00000000e+00]]

In [71]:
# # summarize feature importance
# for i,v in enumerate(importance):
#     print('Feature: %0d, Score: %.5f' % (i,v))

In [72]:
# # plot feature importance
# pyplot.bar([x for x in range(len(importance))], importance)
# pyplot.show()

### Make predictions

In [73]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0          1.0     0.0
1          0.0     1.0
2          1.0     0.0
3          1.0     1.0
4          1.0     1.0
5          1.0     1.0
6          1.0     1.0
7          1.0     0.0
8          1.0     1.0
9          1.0     1.0
10         1.0     1.0
11         1.0     1.0
12         1.0     0.0
13         1.0     0.0
14         1.0     1.0
15         1.0     0.0
16         1.0     0.0
17         1.0     1.0
18         0.0     0.0
19         1.0     1.0

### Validate

In [74]:
# accuracy score
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.49065420560747663

In [75]:
# confusion matrix
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)
# TP = 0
# FP = 0
# FN = 17,460
# TN = 21,958

# precision = TP/(TP+FP), in this case a precision of 0 means what?
# sensitivity = TP/(TP+FN), in this case a score of 0 means what? = recall

[[129 868]
 [113 816]]

In [76]:
# classification report
report = classification_report(y_test, y_pred)
print(report)

### note: 
# ytest are the outcomes, either yes or no on leads column target 
# y_pred are the predictions
# do we read the accuracy score as 56% on predictions as a lead? 
# F1 = harmonic mean, takes sensitivity and precision = .72 here means what?

              precision    recall  f1-score   support

         0.0       0.53      0.13      0.21       997
         1.0       0.48      0.88      0.62       929

    accuracy                           0.49      1926
   macro avg       0.51      0.50      0.42      1926
weighted avg       0.51      0.49      0.41      1926