### SVM - Binary Classifier

In [1]:
# svm can categorize our leads target into 2 classes of yes or no leads
# how do we draw our boundary line? 
# soft margins for errors in classifying as yes/no lead?

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import pandas as pd

# Import and read the charity_data.csv.
df = pd.read_csv('model_df1_official.csv')
df.head()

   Unnamed: 0  spend  Impressions  leads  State Tiers  Agency Tiers
0         770   7.28          427    0.0            4             4
1         771  13.32         1042    1.0            4             4
2         772  10.11          337    0.0            4             4
3         773   0.00            0    1.0            4             4
4         774   7.35          379    1.0            4             4

In [3]:
df2 = df.drop(columns=['State Tiers', 'Agency Tiers'])
df2

        Unnamed: 0  spend  Impressions  leads
0              770   7.28          427    0.0
1              771  13.32         1042    1.0
2              772  10.11          337    0.0
3              773   0.00            0    1.0
4              774   7.35          379    1.0
...            ...    ...          ...    ...
157667      160480   2.01           43    0.0
157668      160481   1.38           31    0.0
157669      160482  11.27          673    0.0
157670      160483  11.34          800    0.0
157671      160484   9.27          465    0.0

[157672 rows x 4 columns]

### Seperate features, x and target, y

In [4]:
# index, with iloc document for only portion of my rows to test
y = df2["leads"]
X = df2.drop(columns="leads")

### Split into train and test features

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y,  random_state=1, stratify=y)
X_train.shape

### Create SVM instance

In [ ]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

### Fit/train or model using training data

In [ ]:
model.fit(X_train, y_train)

### Make predictions

In [ ]:
y_pred = model.predict(X_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

### Validate

In [ ]:
# accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
# confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

In [ ]:
# classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))