In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
#import tensorflow as tf
import pandas as pd

In [4]:
# Import and read the charity_data.csv.
uncleanDf = pd.read_csv("Dataset for Use.csv")
uncleanDf.head()

/Users/micha/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (24,26,29,31,34,41,43,45,48,49,51) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,brand,spend,campaign_id,account_id,campaign_name,status,mapped_storeid,end_advertiser,business_manager_manager_id,end_advertiser_name,...,Support Regions,maturity,open_date,market,tier,ownership_group,soft_open_status,campaign_status,manager_customer_id,serving_status
0,B1,536.29,1.700630e+09,5.144417e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENABLED,2.076624e+09,SERVING
1,B1,253.35,1.715917e+09,5.144417e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENABLED,2.076624e+09,SERVING
2,B1,125.22,1.441660e+10,5.144417e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PAUSED,2.076624e+09,SERVING
3,B1,289.04,1.700630e+09,5.144417e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENABLED,2.076624e+09,SERVING
4,B1,322.95,1.715917e+09,5.144417e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENABLED,2.076624e+09,SERVING