### RF - Binary Classifier

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Import and read the csv.
# # b1 view
df = pd.read_csv("../ML_Data_&_Preprocessing/b1_df_nonEncoded.csv", index_col=[0])
df.head()

  state  spend  Impressions  leads  link_clicks  reach  Agency Tiers
0    TN   8.96          492      0            0    483           NaN
1    GA  15.92          797      0            3    773           NaN
2    MO  11.16          836      1            2    798           NaN
3    RI   8.80          759      0            2    729           NaN
4    CA   5.83          500      0            0    476           NaN

In [ ]:
# add date start 
# time series analysis preferred

In [2]:
df['leads'].value_counts()

0    57153
1    45676
Name: leads, dtype: int64

In [3]:
# check on different state values for testing 
df['state'].value_counts()

TX    12200
CA     9216
OH     7480
TN     5689
FL     4675
CO     4518
IL     4425
PA     4360
MO     4318
NJ     3974
NC     3823
MI     3791
AZ     3660
GA     2751
MN     2409
WA     2303
WI     2004
NY     1978
OR     1800
MA     1737
LA     1603
CT     1491
IN     1310
KY     1242
VA     1148
KS     1098
IA      927
RI      908
MS      873
ME      747
NM      707
OK      613
SC      565
UT      451
ID      392
ND      387
AR      368
NV      338
AL      290
NE      260
Name: state, dtype: int64

In [4]:
df2 = df.loc[df['state']== 'NE']
df2

      state  spend  Impressions  leads  link_clicks  reach  Agency Tiers
42405    NE  31.53         1552      1           12   1425           NaN
42773    NE  32.75         1587      1            4   1477           NaN
43645    NE  32.21         1740      0            5   1628           NaN
43857    NE  32.17         1655      1           13   1542           NaN
44050    NE  31.85         1570      1            8   1512           NaN
...     ...    ...          ...    ...          ...    ...           ...
99048    NE  37.72         2418      0           32   2130           NaN
99066    NE  20.37         2170      0            8   1540           NaN
99119    NE  31.31         2449      0            8   1727           NaN
99121    NE  30.07         3100      0            8   1853           NaN
99155    NE  21.14         1676      0            2   1452           NaN

[260 rows x 7 columns]

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 42405 to 99155
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         260 non-null    object
 1   spend         260 non-null    float64
 2   Impressions   260 non-null    int64
 3   leads         260 non-null    int64
 4   link_clicks   260 non-null    int64
 5   reach         260 non-null    int64
 6   Agency Tiers  0 non-null      float64
dtypes: float64(2), int64(4), object(1)
memory usage: 16.2+ KB

In [6]:
df3 = df2.drop(df2.columns[[0,6]], axis=1)

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 42405 to 99155
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   spend        260 non-null    float64
 1   Impressions  260 non-null    int64
 2   leads        260 non-null    int64
 3   link_clicks  260 non-null    int64
 4   reach        260 non-null    int64
dtypes: float64(1), int64(4)
memory usage: 12.2 KB

### Seperate features, x and target, y

In [8]:
y = df3["leads"]
X = df3.drop(columns="leads")

### Split into train and test features

In [9]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

### Create scaler instance

In [10]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Boosting

In [11]:
# from sklearn.ensemble import GradientBoostingClassifier
# learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
# for learning_rate in learning_rates:
#    classifier = GradientBoostingClassifier(n_estimators=20,
#    learning_rate=learning_rate,
#    max_features=5,
#    max_depth=3,
#    random_state=0)
#    classifier.fit(X_train_scaled, y_train.ravel)

### Fit/train or model using training data

In [12]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [13]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

### Make predictions

In [14]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

### Validate

In [15]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           58            0
Actual 1            5            2

In [16]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [17]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           58            0
Actual 1            5            2

Accuracy Score : 0.9230769230769231
Classification Report
              precision    recall  f1-score   support

           0       0.92      1.00      0.96        58
           1       1.00      0.29      0.44         7

    accuracy                           0.92        65
   macro avg       0.96      0.64      0.70        65
weighted avg       0.93      0.92      0.90        65

### Rank Importances, unique to RF Algo

In [18]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.34859005, 0.24972721, 0.10428099, 0.29740174])

In [19]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.3485900490545146, 'spend'),
 (0.29740174399096975, 'reach'),
 (0.24972721235455467, 'Impressions'),
 (0.104280994599961, 'link_clicks')]

In [20]:
data_results_b1 = {
        'State': ['KY', 'OH', 'MO', 'NE'],
        'Predictive Accuracy': [.92, .91, .75, .92],
        'Tier': ['T2', 'T1', 'T3', 'T4']}
data_results_b1

{'State': ['KY', 'OH', 'MO', 'NE'],
 'Predictive Accuracy': [0.92, 0.91, 0.75, 0.92],
 'Tier': ['T2', 'T1', 'T3', 'T4']}

In [21]:
# create the new df to display brand, state, and model accuracy 
df_results_b1 = pd.DataFrame(data_results_b1)
df_results_b1

  State  Predictive Accuracy Tier
0    KY                 0.92   T2
1    OH                 0.91   T1
2    MO                 0.75   T3
3    NE                 0.92   T4

In [22]:
df_results_b1.to_csv('b1_resultsRF.csv')