<h3>Basic SQL Tutorial:</h3>
<a id='TOP'></a>

- [SQLite3](#sqlite) - <code>Visit <a href="https://www.sqlite.org/index.html" target="_blank">SQLite Home Page</a> to learn more</code>
- [SQLAlchemy](#sqlalchemy) - <code>Visit <a href="https://docs.sqlalchemy.org/" target="_blank">SQLAlchemy Home Page</a> to learn more</code>
- [psycopg2](#psycopg) - <code>Visit <a href="https://www.psycopg.org/docs/" target="_blank">Psycopg Documentation</a> to learn more</code>
- postgreSQL - <code>Visit <a href="https://www.postgresql.org/docs" target="_blank">PostgreSQL Home Page</a> to learn more</code>
- [SQL](#sql) - <code>Visit <a href="https://www.w3schools.com/sql/" target="_blank">SQL Tutorial</a> to learn more</code>

<a id='sqlite'></a>
<h3>1. SQLite 3</h3>

Create a sqlite database on the fly <b>without software installation</b>.  [TOP](#TOP)

In [28]:
import pandas as pd
import sqlite3

In [29]:
conn = sqlite3.connect('social_media.sqlite')

In [30]:
##### Use Connect Object to Get Cursor to the Database
cursor = conn.cursor()

In [31]:
df = pd.read_csv("clean_datasets/us_regions.csv")

print(df.dtypes)
df.head(2)

State_Name    object
State         object
Region        object
Division      object
dtype: object

  State_Name State Region            Division
0     Alaska    AK   West             Pacific
1    Alabama    AL  South  East South Central

In [32]:
df.to_sql(name='us_regions', con=conn, if_exists='replace', index=False)

In [52]:
# us_regions_df = pd.read_sql('SELECT * FROM us_regions;', conn)

table_name = "us_regions"
sql_statement = f"SELECT * FROM {table_name};"
print(sql_statement)

us_regions_df = pd.read_sql(sql_statement, conn)

us_regions_df.head(2)

SELECT * FROM us_regions;

  State_Name State Region            Division
0     Alaska    AK   West             Pacific
1    Alabama    AL  South  East South Central

<a id='sqlalchemy'></a>
<h3>2. SQLAlchemy</h3>

Must have <b>PostgreSQL software</b> installed.  [TOP](#TOP)

In [46]:
from config import username, password
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [36]:
url = f'postgresql://{username}:{password}@127.0.0.1:5432/social_media'

In [37]:
# Create an engine object.
engine = create_engine(url, echo=False)

# Create database if it does not exist.
if not database_exists(engine.url):
    create_database(engine.url)
    connection = engine.connect()
else:
    # Connect the database if exists.
    connection = engine.connect()

In [38]:
df1 = pd.read_csv("clean_datasets/us_regions.csv")
df1.head(2)

  State_Name State Region            Division
0     Alaska    AK   West             Pacific
1    Alabama    AL  South  East South Central

In [40]:
df1.to_sql(name='us_regions', con=engine, if_exists='replace', index=False)

In [53]:
# us_regions_df = pd.read_sql('SELECT * FROM us_regions;', con=engine)

table_name = "us_regions"
sql_statement = f"SELECT * FROM {table_name};"
print(sql_statement)

us_regions_df = pd.read_sql(sql_statement, con=engine)

us_regions_df.head(2)

SELECT * FROM us_regions;

  State_Name State Region            Division
0     Alaska    AK   West             Pacific
1    Alabama    AL  South  East South Central

<a id='psycopg'></a>
<h3>3. psycopg 2</h3>

Must have <b>PostgreSQL software</b> installed.  [TOP](#TOP)

In [54]:
import psycopg2
from psycopg2 import Error

In [55]:
try:
    # Connect to an existing database
    connection = psycopg2.connect(user=username,
                                  password=password,
                                  host="127.0.0.1",
                                  port="5432",
                                  database="social_media")
    
    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n\n")
    
    # Executing a SQL query
    cursor.execute("SELECT version();")
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
# finally:
#     if (connection):
#         cursor.close()
#         connection.close()
#         print("PostgreSQL connection is closed")

PostgreSQL server information
{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'social_media', 'host': '127.0.0.1', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}


You are connected to -  ('PostgreSQL 14.1 on x86_64-apple-darwin20.6.0, compiled by Apple clang version 12.0.0 (clang-1200.0.32.29), 64-bit',)

In [57]:
# us_regions_df = pd.read_sql('SELECT * FROM us_regions;', connection)

table_name = "us_regions"
sql_statement = f"SELECT * FROM {table_name};"
print(sql_statement)

us_regions_df = pd.read_sql(sql_statement, connection)

us_regions_df.head(2)

SELECT * FROM us_regions;

  State_Name State Region            Division
0     Alaska    AK   West             Pacific
1    Alabama    AL  South  East South Central

<a id='sql'></a>
<h3>4. SQL</h3>

Use <b>pd.read_sql</b> to practice SQL statements.  [TOP](#TOP)